  /* nav bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #feb9e5;
    text-align: center;
    }

nav{
    margin: 0 auto;
    }
  
li {
    display: inline;
    }
  
li a, .dropbtn, .white {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
  
li a:hover, .dropdown:hover .dropbtn, .white:hover {
  background-color:#fbd7e7;
    }

.white:visited {
  color: white;
    }
    
li.dropdown {
  display: inline-block;
    }

.dropdown-content a:hover {background-color: #ffffff;}
    
.dropdown:hover .dropdown-content {
  display: block;
    }
/* nav bar */
  
/* black white gallery */
#bw{
    filter: grayscale(1)
    }
#bw:hover{
    filter: grayscale(0)
    }

/* black white gallery */

*   {box-sizing: border-box;}

body{
  margin: 0;
  font-family:Verdana, Geneva, sans-serif;;
    }
  
.header{
  text-align: center;
  padding: 32px;
    }
  
.row{
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
    }
  
/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
    }
  
.column img {
  margin-top: 8px;
  vertical-align: middle;
    }
  
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
.column {
  -ms-flex: 50%;
  flex: 50%;
  max-width: 50%;
    }
#bw{
filter: grayscale(0);
    }
    }
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
  -ms-flex: 100%;
  flex: 100%;
  max-width: 100%;
    }
    }
/* black white gallery */

 /* aboutpic */
img.right {
  float: right;
  margin-left: 25px;
  margin-bottom: 175px;
    }
/* aboutpic */

* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(191, 191, 191);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
      }

input[type=submit] {
  background-color:#033d5c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
    }

input[type=submit]:hover {
  background-color: #033d5c;
    }

.container {
  border-radius: 5px;
  margin-left: 25px;
  margin-right: 750px;
    }

.frontpage{
  margin-left: 8%;
  margin-right: 8%;
  color:black;
  line-height: 25px; 
    }

/* links for index */
a{
  color:#efc1ba;
  text-decoration: none;
    }
a:hover{
color: #efc1ba;
text-decoration: none
    }
a:active{
  color:#efc1ba;
  text-decoration: none;
    }
a:visited{
  color:#efc1ba;
  text-decoration: none;
    }
/* links for index */

.bk{
  background-color: #feb9e5;
  color:white;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 5%;
  line-height: 12px;
  text-align: center;
    }

/* links for contact */
#a1{
  color:white;
  text-decoration: none;
    }
#a1:hover{
  color: white;
  text-decoration: none;
    }
#a1:active{
  color: white;
  text-decoration: none;
    }
#a1:visited{
  color:white;
  text-decoration: none;
    }
/* links for contact*/

/* zoom over image*/
.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
/* zoom over image*/

.padding{
  padding-right: 10px;
}